// MARK: - App Identity

// MARK: - Info.plist Configuration
INFOPLIST_FILE = Resources/Info/BrandB_Info.plist

// MARK: - Core App Configuration
API_KEY = sk-dev-brandB-development-key
BASE_URL = https:\/\/dev-api.brandB.com\/v1
BUNDLE_ID = com.brandB.app.dev
APP_FLAVOR = development
APP_NAME = BrandB Dev

// MARK: - Visual Assets
APP_ICON = AppIcon-Dev
SPLASH_SCREEN = SplashScreen-Dev
