
// MARK: - Info.plist Configuration
INFOPLIST_FILE = Resources/Info/BrandA_Info.plist

// MARK: - Core App Configuration
API_KEY = sk-staging-brandA-staging-key
BASE_URL = https:\/\/staging-api.brandA.com\/v1
BUNDLE_ID = com.brandA.app.staging
APP_FLAVOR = staging
APP_NAME = BrandA Staging

// MARK: - Visual Assets
APP_ICON = AppIcon-Staging
SPLASH_SCREEN = SplashScreen-Staging
